{% extends 'base.html' %}
{% block title %}Register now{% endblock %}
{% block main %}

<div class="container">
<h1 class="display-2">Register Now</h1>
<p class="lead"> Register for my mystyery app</p>
<div class="container">
<form action="" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_='form-control') }}

        {% for err in field.errors %}
            {{ err }}
        {% endfor %}
    </p>
    {% endfor %}
    <button class="btn btn-success">Submit</button>
</form>
</div>
{% endblock %}