{% extends 'base.html'%} {% block title %}Adopt a pet {% endblock %} {% block
content %}
<h1>All Our Pets</h1>
<div class="row">
  {% for pet in pets %}
  <div class="col">
    {% if pet.photo_url %}<a href="/{{pet.id}}">
      <img src="{{pet.photo_url}}" alt="Photo of {{pet.name}}" width="200px"
    /></a>
    {% endif %}
    <div class="col">
      <a class="h3" href="/{{pet.id}}"> {{pet.name}}</a>
      <small>
        {% if pet.available %}
        <p class="text-success"><strong>Available!</strong></p>
        {% else %}
        <p class="text-danger">Not available.</p>
        {% endif %}
      </small>

      {{pet.notes}}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
