<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Pets</title>
</head>
<body>
  <h1>All my pets</h1>
  <p>
    {% for pet in pets %}
    <li><a href="/{{pet.id}}">{{pet.name}}</a></li>
    {%endfor%}
  </p>
  <h2>Add a new pet</h2>
  <form action="/" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="species" placeholder="species">
    <input type="number" name="hunger" placeholder="10">
    <button>Submit</button>
  </form>
  
</body>
</html>




<!-- <h1>Pets</h1>
<ul>
  {% for pet in pets %}
  <li><a href="/{{ pet.id }}">{{ pet.name }}</a></li>
  {% endfor %}
</ul>
<h2>Add Pet</h2>
<form method="POST">
  <p>Name:     <input name="name"></p>
  <p>Species:  <input name="species"></p>
  <p>Hunger:   <input name="hunger"></p>
  <button>Save</button>
</form>

 -->
