<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>New Employee</title>

</head>

<body>
  <div>depts=</div>
  <div>{{depts}}</div>
 <h1>Add a new Employee</h1>

 <form action="" method="POST">
  {{ form.hidden_tag() }}
  {% for field in form
    if field.widget.input_type != 'hidden' %}
    
  <p>
    {{field.label}}
    {{field}}

    {% for err in field.errors %}
      {{err}}
    {% endfor %}
  </p>
    {% endfor %}
    <button>Submit</button>
</form>

</body>

</html>