<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>

  <body>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <section>
        {% for category, msg in messages %}
        <p class="{{category}}">{{msg}}</p>
        {% endfor %}
      </section>
      {% endif %} {% endwith %} {% block main_content %} {% endblock %}
    </main>

    <!-- Display all responses for debugging -->
    <!-- <p>{{ session['RESPONSES'] }}</p>  -->

  </body>
</html>
